symbolFolder=tickdata
symbols=GBPUSD
scalingFactor="EURUSD,10000"
accountEquity=500
maximumDrawndownPercentage=50
strategy=RandomStrategy
reportingEnabled=true
runID=debugger
s3Bucket=
s3Path=data
years=2020
stopDistanceInPips=10
limitDistanceInPips=10
elasticUser=elastic
elasticPassword=
elasticEndpoint=
elasticCloudID=