symbolFolder=tickdata
symbols=GBPUSD
scalingFactor="EURUSD,10000;GBPUSD,10000"
accountEquity=500
maximumDrawndownPercentage=0
strategy=RandomStrategy
reportingEnabled=true
runID=debugger
s3Bucket=
s3Path=
years=2022
runIteration=0
stopDistanceInPips=10
limitDistanceInPips=10
tradingSize=1
consoleLog=true
elasticUser=elastic
elasticPassword=
elasticEndpoint=
elasticCloudID=