operatingEnvironment=backtesting
symbolFolder=tickdata
symbols="BTCUSD"
scalingFactor="BTCUSD,0.1;ETHUSD,0.1;JPNIDX225,1;SPNIDX35,1;FRAIDX40,1;DEUIDX40,1;AUSIDX200,1;USAIDXTECH,1;USAIDX500,1;USAIDX30,1;EURIDX600,1;GBRIDX100,1;EURUSD,10000;GBPUSD,10000;NZDUSD,10000;AUDUSD,10000;USDJPY,100;USDCAD,10000;USDCHF,10000"
accountEquity=1000
maximumDrawndownPercentage=50
strategy=RandomStrategy
reportingEnabled=false
runID=debugger
s3Bucket=
s3Path=
yearsStart=
yearsEnd=
runIteration=0
stopDistanceInPips=0
limitDistanceInPips=0
tradingSize=0
consoleLog=true
systemLog=true
doNotCleanUpDataFolder=false
instanceCount=0
elasticUser=elastic
kineticStopLoss=0
kineticLimit=0
randomStrategyAmountOfHHLL=10
elasticPassword=
elasticEndpoint=
elasticCloudID=